.App {
  text-align: center;
}

nav {
  display: flex!important;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(73, 79, 82);
  color: white;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 8%;
}

#recipes-pane {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#calendar-pane {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

